<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="shin.spring.mvc.mapper.LoginMapper">
    <resultMap id="boardResult" type="shin.spring.mvc.vo.LoginVO">
        <result property="userid" column="userid"/>
        <result property="nickname" column="nickname"/>
        <result property="password" column="password"/>
        <result property="passwordcheck" column="passwordcheck"/>
    </resultMap>


    <insert id="inputData" statementType="PREPARED" parameterType="shin.spring.mvc.vo.LoginVO">
        insert into login (userid, nickname, password, passwordcheck) VALUES (#{userid}, #{nickname}, #{password}, #{passwordcheck});
    </insert>


</mapper>